<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>RPG ETEC</title>
</head>
<body class="q">
    <!-- CABEÇALHO DA PÁGINA-->
    <header>
        <img src="{{url_for('static', filename='images/img4.png')}}" alt="">
    </header>

    {% block content %}
    <!-- Aqui irá o conteúdo das outras páginas -->
     {% endblock content %}

    <!-- RODAPÉ DA PÁGINA-->
     <footer>
        <hr>
        <p style="text-align: center;"> Esse projeto foi feito pelos estudantes: Vinícius Zezília, Larissa Vassão e Matheus Leme</p>
     </footer>
</body>
</html>