
<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
<head>
  <meta charset="UTF-8" />
  <title>ETEC RPG</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

</head>

<style>
  .a {
    padding: 10px;
  }
</style>

<body class="d-flex flex-column min-vh-100">

  <!-- Navbar superior -->
  <nav class="navbar  navbar-light bg-body-tertiary shadow-sm sticky-top">
  <div id="nav" class="container d-flex align-items-center">

    <!-- Logo -->
    <a href="{{url_for('home')}}" class="navbar-brand fw-bold text-primary d-flex align-items-center">
      <i class="fa-solid fa-dice-d20 me-2"></i> RPG ETEC
    </a>
    <div class="ms-auto d-flex align-items-center gap-2">

      <!-- Botão das Rotas -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarOffcanvas" aria-controls="sidebarOffcanvas" aria-label="Menu lateral">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Botão para trocar de tema -->
 <label class="switch me-2">
          <input id="themeCheckbox" type="checkbox" />
          <span class="slider"></span>
        </label>
</nav>

  <!-- Sidebar das rotas -->

  <div class="offcanvas offcanvas-start sidebar" id="sidebarOffcanvas">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title text-primary" id="a">Vale Místico</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body p-0">
      <nav class="nav flex-column">
       
        <a href="/" class="nav-link px-3 py-2">  <i class="fa-solid fa-home me-2"></i> Home</a> 
        <a href="/wiki"  class="nav-link px-3 py-2"><i class="fa-solid fa-book-open list me-2"></i> Lista</a>
        <a href="/forum"  class="nav-link px-3 py-2"><i class="fa-solid fa-book-open list me-2"></i> Fórum </a>
        
      </nav>
    </div>
  </div>

  <!-- Header -->

  <header>
    <div class="container text-center">
      <h1 class="display-4 fw-bold">Vale Místico</h1>
    </div>
  </header>

  
  <main class="container my-4 flex-grow-1">
    {% block content %}
    <!-- aqui fica o conteúdo das outras delas -->
    {% endblock %}
  </main>

  <!-- Rodapé -->
  <footer class="bg-body-tertiary text-center">
    <small class="text-muted">&copy; {{ current_year if current_year else "2025" }} RPG ETEC. Todos os direitos reservados.</small>
  </footer>

  <!-- Parte do JavaScript -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
  const themeCheckbox = document.getElementById('themeCheckbox')
const savedTheme = localStorage.getItem('theme') || 'light'

//Aplica Tema
document.documentElement.setAttribute('data-theme', savedTheme)
themeCheckbox.checked = savedTheme === 'light'

//Altera Tema
themeCheckbox.addEventListener('change', () => {
  const newTheme = themeCheckbox.checked ? 'light' : 'dark'
  document.documentElement.setAttribute('data-theme', newTheme)
  localStorage.setItem('theme', newTheme)
})

</script>

</body>
</html>