{% extends 'base.html' %}

{% block content %}
<body class="bck">
  <div class="container">
    <h2>Cadastro de Conta</h2>

    <form method="POST" action="{{ url_for('cadastro') }}">
      <!-- Apelido -->
      <div class="form-group">
        <label for="apelido">Digite seu apelido</label>
        <input type="text" id="apelido" name="apelido" placeholder="Digite aqui" required />
      </div>

      <!-- E-mail -->
      <div class="form-group">
        <label for="email">Digite seu e-mail</label>
        <input type="email" id="email" name="email" placeholder="Digite aqui" required />
      </div>

      <!-- Senha -->
      <div class="form-group">
        <label for="senha">Digite sua nova senha</label>
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required />
      </div>

      <!-- Confirmar Senha -->
      <div class="form-group">
        <label for="confirmar-senha">Digite sua nova senha novamente</label>
        <input type="password" id="confirmar-senha" name="confirmar_senha" placeholder="Digite sua senha novamente" required />
      </div>

      <button type="submit">CRIAR CONTA</button>
    </form>

    <p>
      <a href="/views/telaLogin.html" class="link">Já tem uma conta? Iniciar Sessão</a>
    </p>
  </div>
</body>
{% endblock content %}