{% extends 'base.html' %}
   
{% block content %}
    <!--Botão de swich que quando clicado ele troca sobrepõem a outra div (div 1 e div2)-->
    <div class="div 1">
        <div>
            <img src="" alt="">
        </div>
        <h3>Dino Age</h3>
    </div>

    <div class="div 2">
        <div>
            <img src="" alt="">
        </div>
        <h3></h3>
    </div>
    
    <!--Esse botão será aqule que faz aquela função, ele usará a img5 como aparencia-->
    <button></button>

    <div>
        <div>
            <img src="" alt="">
        </div>
        <h3>Criar Campanha</h3>
    </div>

    <hr>

    <!--Div que contem o resumo da sessão passada, o bloco branco com o lorem-->
    <textarea name="">
        fdfd

    </textarea>
    {% endblock content %}
