{% extends 'base.html' %}
{% block content %}
<!--Será meu background provisorio a div com classe provisorio-->
<div class="provisorio">

    <!-- Colocar efeito nessas divs de click, depois será programado para enviar para outra pagina-->
    <div>
        <h3>Campanha</h3>
    <img src="/static/images/img3.png" alt="">
</div>
<br>
<div>
    <h3>Personagens</h3>
<img src="/static/images/img3.png" alt="">
</div>
<br>
<div>
    <h3>Tutorial</h3>
<img src="/static/images/img3.png" alt="">
</div>
</div>
{% endblock content %}