{% extends 'base.html' %} {% block content %}

<body>
    


<div class="container">
  <h2>Redefinir senha</h2>
  
  <div>
<label for="">Digite seu e-mail</label>
<br>
    <input type="email" placeholder="Digite aqui" />
  </div>
  
  <div>
    <label for="">Digite sua nova senha</label>
    <br>
    <input type="password" placeholder="Digite aqui" />
  </div>
  
  <div>
    <label for="">Digite novamente sua nova senha</label>
    <br>
    <input type="password" placeholder="Digite aqui" />
  </div>

  <button type="submit" >Cancelar</button>
  <button type="submit" >Proximo</button>
 
</div>

</body>

{% endblock content %}
