{% extends 'base.html' %}
{% block content %}
background: url('/static/images/img2.png') no-repeat center center fixed;
>

<!--Colocar uma div tipo lista que apos ser clicado ele troca a informação que aparecerá na div-->
   <div><h2>Lorem</h2>
<p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vehicula condimentum consectetur sollicitudin aptent per gravida placerat tempus lectus. Facilisi duis vitae vel duis purus himenaeos nisl. Conubia habitasse porta tellus ultrices, purus aenean. Massa metus posuere nulla feugiat senectus; nullam ac. Penatibus adipiscing senectus inceptos consectetur mollis inceptos ligula imperdiet. Dictum dignissim proin ullamcorper nec etiam dolor mauris. Purus gravida ac congue molestie curae magna egestas. Turpis viverra rutrum hendrerit bibendum nullam ad maecenas.

    Ridiculus ultrices tincidunt; mollis laoreet penatibus aliquet diam.  Elit platea efficitur risus velit eleifend odio montes vivamus</p></div>
    {% endblock content %}
