<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <img src="" alt="">
            <h4>Selecione uma imagem para a campanha</h4>
        </div>
        <h3>Criar Campanha</h3>
    </div>

    <!--Div com opções para criação de campanha como: opções, textinput para descrição-->
    <div>
        <button><h3>CRIAR CAMPANHA</h3></button>
    </div>
</body>
</html>